@import 'tailwindcss';

[data-theme='dark'] body {
  background-color: #1e2939d1;
  color: #ffffff;
}

[data-theme='dark'] .bg-white {
  background-color: #1e2939d1 !important;
}

[data-theme='dark'] .bg-gray-100 {
  background-color: #1e2939d1 !important;
}
